:root {

--primary-color: #1c02b0b2;
--secondary-color: #0093cde5;
--white-color: #fff;
--dark-grey: #333333;

--dark-blue-text: #272341; 

 /* FONT SIZE */
--default-font-size: 1.6rem;
--big-font-size: 4rem;
--mid-font-size: 2.5rem;
}
.bga{
  background-color: rgba(255, 250, 250, 0.267);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
a.bth{
  display: inline-block;
background-color: blue;
color: white;
width: 200px;

border-radius: 10px;
padding: 1rem;
text-decoration: none;

}
.bth:hover{

  transform: translateY(-20%);
  transition: 0.2s ease-in;
-webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 6px 12px 13px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 6px 12px 13px 5px rgba(0,0,0,0);
}

#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: white;
  font-weight: 400;
  color: var(--dark-blue-text);
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  background-color: transparent;
 

 
    padding: 0rem var(--default-font-size);
  }

  .hero-title {
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    }
   .dark-blue-text {
  color: var(--dark-blue-text);
}

.text-color-main {
  background-image: linear-gradient(
    135deg, var(--primary-color) 0% ,var(--secondary-color) 100%
  );
 -webkit-background-clip: text;
 background-clip: text;
  -webkit-text-fill-color: transparent;
  

}
@media screen and (max-width: 37.5em){
.text-color-main {
    background-image: none;
    -webkit-text-fill-color: rgba(0,147,205,.898039);
}}



 