:root {

--primary-color: #1c02b0b2;
--secondary-color: #0093cde5;
--white-color: #fff;
--dark-grey: #333333;

--dark-blue-text: #272341; 

 /* FONT SIZE */
--default-font-size: 1.6rem;
--big-font-size: 4rem;
--mid-font-size: 2.5rem;
}

#projects {
  background-color: white;
  color: (--dark-blue-text);
  margin-top: -10rem;
  height: auto;
 }


  .project-title{
      color:(--dark-blue-text); 
  font-size: var(--big-font-size);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 50px;
  
  }
   .project-wrapper {

/* margin-top: -200px; */

   }
   .mb{   margin-bottom: 5rem;
text-align: justify;}

@media only screen and (max-width: 973px) {
#projects{
 
}
.mb{
  margin-bottom: 2rem; 
}
 
}
@media only screen and (max-width: 477px) {
#projects{
   margin-top: 300px;
   margin-bottom: 290px;
}
.mb{
  margin-bottom: 2rem; 
}
 
}